* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 1px;
}

.topnav {
    color: #F1F1F1;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    vertical-align: center;
}

a {
    color: inherit;
}

.row {
    float: middle;
    width: 100%;
    padding: 5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.container {
    width:100%;
    height:300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.chart {
    position: relative;
    width: 100%;
    height: 36px;
    border: 0px;
    display: flex;
    overflow: hidden; /* Hide overflow content */
    background-color:#AA336A;
}

.background-text {
    position: absolute;
    left: 0;
    width: 100%;
    color: black;
    font-size: 18px;
    text-align: center;
}

.bar {
    flex:1;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 200px; /* Center text vertically */
    transition: height 0.5s ease; /* Smooth transition for height changes */
}

.form-inline {
    display: flex;
    align-items: center;
    width: 100%;
}
.form-inline input {
    flex: 1;
    margin-right: 10px;
    height:25px;
}
.form-inline button {
    flex-shrink: 0;
    width: 25%;  
    height: 25px;
    border-width: 0;
    border-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

select {
    width: 100px;
    border-width: 0;
    border-color: transparent;
}

.stop_button {
    display: inline-block; 
    width: 100%;  
    height: 50px;         
    margin:0;
    justify-content: center;
    border-width: 0;
    border-color: transparent;
    font-size: 25px;
    font-weight: bold;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow-x: hidden;
    background-color: #000000;
}
